<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body onload="documents.forms['formulario'].submit()">
	<form name="formulario" action="www.google.com.mx">
			<input th:each="prod : ${map}" type="hidden" th:name="${prod.key}" th:value="${prod.value}" />
	</form>
</body>
</html>
