
.sinEspacioDebajo{
    margin-bottom: 0px;
}
.fondo{
    background-color: #e9e9e9; 
}
.bordes{
    border:1px solid #9a9a9a;
}
.totales{
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
}
.totales p, .clave-catastral p{
    margin: 0;
    padding: 0;
}
.clave-catastral p{
    font-size: 12px;   
}
.border-inferior-grey{
    border-bottom: 1px solid grey;
}
.border-inferior-grey2{
    border-bottom: 2px solid grey;
}
.border-inferior-grey3{
    border-bottom: 3px solid grey;
}
.border-superior-grey2{
    border-top: 2px solid grey;
}
.valores{
    font-weight:600;  
}
.custom.radio {
    margin-bottom: 10px;
}
.contenedor-claves-catastrales{
    /*                height: 172px;*/
    overflow-x: hidden;
    overflow-y: auto;
}
.contenedor-totales{
    font-size: 15px;
}
fieldset{
    padding-bottom: 10px;
    min-height: 236px;
}
.nivelacion-derecha{
    padding-right: 0px !important;
}
.nivelacionLink{
    padding-top:6px;

}
.negrita{
    font-weight: bold;
}
@media only screen {
    .large-6{
        width: 50%!important;
    }
}