

.margenEspecial{
    margin-bottom: 9px;
}
/*.item-servicio-contenedor{
    margin-bottom:4px;
}*/

.alert-box .checkboxAnadir{font-size:1.375em;padding:5px 4px 4px;line-height:0;position:absolute;top:0.0em;right:2.5em;color:#333;}
.alert-box .checkboxAnadir:hover,
.alert-box .checkboxAnadir:focus{opacity:0.5}
.alert-box .reporteEncabezado{font-size:1.375em;padding:5px 4px 4px;line-height:0;position:absolute;top:0.0em;right:1.5em;color:#333;}
.alert-box .reporteEncabezado:hover,
.alert-box .reporteEncabezado:focus{opacity:0.5}

.alert-box .cerrar{font-size:1.375em;padding:5px 4px 4px;line-height:0;position:absolute;top:0.3em;right:0.0em;color:#333;}
.alert-box .cerrar:hover,
.alert-box .cerrar:focus{opacity:0.5}
.alert-box .secondary{
    background-color: #e9e9e9;
}

.line-separator{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white;
}

.box2 {
    display: inline-block;
    padding: 0px 2px 0px 0px;
    font-size: 12px;
}

.negrita{
    font-weight: bold;
}
.divisor{
    font-size: 20px;
    font-weight: bold;
    color: #666;
}

.seleccionarTodos{
    color: #000;
    font-size: 13px;
}

.propietario{
    width: 35%;
}
.mensajePredio{
    width: 80%;
}

.importe{
    width: 15%;
}

.cruzRoja{
    width: 20%;
}

.separadorNegro{
       border : 1px;
       height : 1px;
       background : #000;
       margin : 1em 0;  
}

conScroll {
    background-color: #00FFFF;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

tamano-definido{
    height:20%;
    width: 10%;
}

.fuenteProcesoNegrita{
    font-family:'Segoe UI',Frutiger,'Frutiger Linotype','Dejavu Sans','Helvetica Neue',Arial,sans-serif;
    font-weight:500;
    color:#333;
    padding: 2px 0;
    width: 273px;
}

.fuenteProceso{
    font-family:'Segoe UI',Frutiger,'Frutiger Linotype','Dejavu Sans','Helvetica Neue',Arial,sans-serif;
    color:#333;
    padding: 2px 0;
    width: 273px;
}

.item-servicio-contenedor {
    border-style: solid;
    display: block;
    margin-bottom: 1.25em;
    position: relative;
    padding: .6875em 1.3125em .75em .6875em;
    font-size: .875em;
    background-color: ffffff;
    border-color: #c5c5c5;
    border-left-width: 0.5em;
    border-top-width: 0.1em;
    border-bottom-width: 0.1em;
    border-right-width:0.1em;
    color: #2c2c2c;
    margin-bottom: 0.3em;
}
.cabecera-servicio {
    border-style: solid;
    display: block;
    margin-bottom: 1.25em;
    position: relative;
    padding: .6875em 1.3125em .75em .6875em;
    font-size: .875em;
    background-color: #ffffff;
    border-color: #ffffff;
    border-left-width: 0.5em;
    border-top-width: 0.1em;
    border-right-width:0.1em;
    padding-top: 0.2em;
    padding-bottom: 0em;
    color: #2c2c2c;
    margin-bottom: 0.3em;
}


.borde1em{
    border-left-width: 1em;
}

.fuenteItem{
    font-size: .8em;   
}



@media only screen {
/*    .large-12{
        width: 50%!important;
    }*/
}
