<div>
    <h2>
        <span jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.home.title">Pl User Claves Catastrales</span>
        <button class="btn btn-primary float-right jh-create-entity create-pl-user-claves-catastrales" [routerLink]="['/', { outlets: { popup: ['pl-user-claves-catastrales-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.home.createLabel">
            Create new Pl User Claves Catastrales
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="plUserClavesCatastrales">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.llave">Llave</span></th>
            <th><span jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plUserClavesCatastrales of plUserClavesCatastrales ;trackBy: trackId">
                <td><a [routerLink]="['../pl-user-claves-catastrales', plUserClavesCatastrales.id ]">{{plUserClavesCatastrales.id}}</a></td>
                <td>{{plUserClavesCatastrales.llave}}</td>
                <td>
                    {{plUserClavesCatastrales.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pl-user-claves-catastrales', plUserClavesCatastrales.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pl-user-claves-catastrales/'+ plUserClavesCatastrales.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pl-user-claves-catastrales/'+ plUserClavesCatastrales.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
