
<div *ngIf="plUserClavesCatastrales">
    <h2><span jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.detail.title">Pl User Claves Catastrales</span> {{plUserClavesCatastrales.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.llave">Llave</span></dt>
        <dd>
            <span>{{plUserClavesCatastrales.llave}}</span>
        </dd>
        <dt><span jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.user">User</span></dt>
        <dd>
            {{plUserClavesCatastrales.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pl-user-claves-catastrales/'+ plUserClavesCatastrales.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
