<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlUserClavesCatastralesLabel" jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.home.createOrEditLabel">Create or edit a Pl User Claves Catastrales</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!plUserClavesCatastrales.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="plUserClavesCatastrales.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.llave" for="field_llave">Llave</label>
            <input type="text" class="form-control" name="llave" id="field_llave"
                [(ngModel)]="plUserClavesCatastrales.llave" required maxlength="31" />
            <div [hidden]="!(editForm.controls.llave?.dirty && editForm.controls.llave?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.llave?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.llave?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 31 }">
                   This field cannot be longer than 31 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pagoBancomerApp.plUserClavesCatastrales.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="plUserClavesCatastrales.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
