<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlParamBancoLabel" jhiTranslate="pagoBancomerApp.plParamBanco.home.createOrEditLabel">Create or edit a Pl Param Banco</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!plParamBanco.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="plParamBanco.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pagoBancomerApp.plParamBanco.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="plParamBanco.nombre" required maxlength="100" />
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pagoBancomerApp.plParamBanco.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" name="tipo" [(ngModel)]="plParamBanco.tipo" id="field_tipo"  required>
                <option value="IN">{{'pagoBancomerApp.TipoParamBanco.IN' | translate}}</option>
                <option value="OUT">{{'pagoBancomerApp.TipoParamBanco.OUT' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.tipo?.dirty && editForm.controls.tipo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pagoBancomerApp.plParamBanco.enUso" for="field_enUso">En Uso</label>
            <input type="checkbox" class="form-control" name="enUso" id="field_enUso"
                [(ngModel)]="plParamBanco.enUso"  />
            <div [hidden]="!(editForm.controls.enUso?.dirty && editForm.controls.enUso?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.enUso?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pagoBancomerApp.plParamBanco.valorDefault" for="field_valorDefault">Valor Default</label>
            <input type="text" class="form-control" name="valorDefault" id="field_valorDefault"
                [(ngModel)]="plParamBanco.valorDefault" maxlength="128" />
            <div [hidden]="!(editForm.controls.valorDefault?.dirty && editForm.controls.valorDefault?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valorDefault?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pagoBancomerApp.plParamBanco.institucionBancaria" for="field_institucionBancaria">Institucion Bancaria</label>
            <select class="form-control" id="field_institucionBancaria" name="institucionBancaria" [(ngModel)]="plParamBanco.institucionBancariaId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="catBancoOption.id" *ngFor="let catBancoOption of catbancos; trackBy: trackCatBancoById">{{catBancoOption.descripcion}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
