
<div *ngIf="plParamBanco">
    <h2><span jhiTranslate="pagoBancomerApp.plParamBanco.detail.title">Pl Param Banco</span> {{plParamBanco.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pagoBancomerApp.plParamBanco.nombre">Nombre</span></dt>
        <dd>
            <span>{{plParamBanco.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="pagoBancomerApp.plParamBanco.tipo">Tipo</span></dt>
        <dd>
            <span jhiTranslate="{{'pagoBancomerApp.TipoParamBanco.' + plParamBanco.tipo}}">{{plParamBanco.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="pagoBancomerApp.plParamBanco.enUso">En Uso</span></dt>
        <dd>
            <span>{{plParamBanco.enUso}}</span>
        </dd>
        <dt><span jhiTranslate="pagoBancomerApp.plParamBanco.valorDefault">Valor Default</span></dt>
        <dd>
            <span>{{plParamBanco.valorDefault}}</span>
        </dd>
        <dt><span jhiTranslate="pagoBancomerApp.plParamBanco.institucionBancaria">Institucion Bancaria</span></dt>
        <dd>
            <div *ngIf="plParamBanco.institucionBancariaId">
                <a [routerLink]="['/cat-banco', plParamBanco.institucionBancariaId]">{{plParamBanco.institucionBancariaDescripcion}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pl-param-banco/'+ plParamBanco.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
