<div>
    <h2>
        <span jhiTranslate="pagoBancomerApp.catBanco.home.title">Cat Bancos</span>
        <button class="btn btn-primary float-right jh-create-entity create-cat-banco" [routerLink]="['/', { outlets: { popup: ['cat-banco-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="pagoBancomerApp.catBanco.home.createLabel">
            Create new Cat Banco
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="catBancos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagoBancomerApp.catBanco.descripcion">Descripcion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let catBanco of catBancos ;trackBy: trackId">
                <td><a [routerLink]="['../cat-banco', catBanco.id ]">{{catBanco.id}}</a></td>
                <td>{{catBanco.descripcion}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cat-banco', catBanco.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cat-banco/'+ catBanco.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cat-banco/'+ catBanco.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
